#resume .resume-item {
    border-left: 2px solid #34b7a7;
    padding: 0 0 20px 20px;
    position: relative;
}

#resume .resume-item::before {
    content: '';
    position: absolute;
    border: 2px solid #34b7a7;
    height: 16px;
    width: 16px;
    left: -8.5px;
    top: 0;
    border-radius: 50%;
    background-color: #34b7a7;
}
.resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
    color: #1d685f;
    margin-bottom: 10px;
    font-family: 'poppins', sans-serif !important;
}
.resume-item h5 {
    font-size: 14px;
    background-color: #effbf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;
    color: #34b7a7;
}
.resume-item p {
    font-family: 'Roboto',sans-serif !important;
    font-size: 14px;
}